* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Epunda Slab", serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.navbar-links {
    display: flex;
    margin-right: 50px;
}

.navbar-link {
    transition: 0.2s ease;
}

.navbar-link:hover {
    transform: scale(1.1);
}

.navbar-links a {
    padding: 10px;
    background: black;
    color: white;
    text-decoration: none;
    margin-left: 50px;
    border-radius: 10px;
}

.navbar-links a:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: lightgray;
    color: black;
}

.navbar-menu-toggle {
    display: none;
}

.side-navbar {
    background-color: #1D232C;
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -60%;
    padding: 20px;
    color: white;
    transition: 1.5s;
    z-index: 1;
}


.side-navbar-link {
    margin-bottom: 30px;
}

.side-navbar-links a {
    text-decoration: none;
    color: white;
}

.side-navbar-links a:hover {
    text-decoration: underline;
}

.header {
    display: flex;
    justify-content: center;
    gap: 150px;
    padding: 50px;
}

.header img {
    border-radius: 75px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header-button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    background-color: #1D232C;
    color: white;
    cursor: pointer;
    transition: 0.2s ease;
}

.header-button:hover {
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.service {
    padding: 20px;
}

.service-container-1 {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service-container-1 p {
    font-size: 24px;
    color: rgb(0, 0, 0);
    font-style: bold;
}

.service-container-2 {
    
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-top: 25px;

}

.service-container-2 div {
    background-color: lightgray;
    border-radius: 5px;
    padding: 10px;
}

.NA{
    margin-top: 50px;
    text-align: center;
}
/* 
.namw{
    background: lightgray;
    border-radius: 150px;
    box-shadow: black 0px 0px 25px;
    padding-bottom: 50px;
} */

.new-arrival {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.new-arrival img {
    border-radius: 40%;
    transition: .3s ease;
}



.new-arrival-container {
    position: relative;
    flex-basis: 20%
}

.new-arrival button {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-top: 10px;
    color: black;
    position: absolute;
    top: 50%;
    left: 13%;
    border-radius: 10px;
    border: none;
    transition: 0.3s ease;
}

.new-arrival button:hover {
    cursor: pointer;
    transform: scale(1.1);
    border: #1D232C solid 2px;
    text-shadow: black 0px 0px 10px;
}

.news {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.news input {
    margin-top: 10px;
    padding: 11px;
    width: 80vw;
    margin-bottom: 10px;
    border: solid black 3px;
}


.news button {
    margin-top: 10px;
    color: #f2f4f7;
    background-color: #1D232C;
    border-radius: 10px;
    padding: 10px;
}

.footer {
    margin-top: 20px;
    padding: 40px;
    background-color: #1D232C;
    color: #f2f4f7;
    font-size: 19px;
}

.footer i{
    font-size: 25px;
    margin: 10px;
    transition: .3s ease;
}

.footer i:hover {
    transform: scale(1.7);
    cursor: pointer;
}


.product-section {
    margin-top: 50px;
}

.product-search {
    width: 80%;
    border: solid black 2px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: auto;
}

.product-search input {
    border: none;
    border-color: transparent;
    width: 100%;
}


.product-search input:focus {
    outline: none;
}


.products {
    padding: 50px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.products-box {
    padding: 25px;
    text-align: center;
    flex-basis: 20%;
    transition: .3s ease;
}

.products-box:hover {
    transform: scale(1.1);
}


.products-box img {
    border-radius: 50px;
}

.products-box img:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


@media screen and (max-width:700px) {
    .navbar-menu-toggle {
        display: block;
    }

    .navbar-links {
        display: none;
    }

    .header-image {
        display: none;
    }

    .service-container-1 {
        display: none;
    }

    .service-container-2 {
        flex-direction: column;
    }
}